<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset=utf-8 />
  <title>NADES</title>
  <!--
  <script type="text/javascript" src="/javascripts/raphael-min.js"></script>
  <script type="text/javascript" src="/javascripts/g.raphael-min.js"></script>
  <script type="text/javascript" src="/javascripts/g.line-min.js"></script>
  <script type="text/javascript" src="/javascripts/g.pie-min.js"></script>
  -->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
  <script type="text/javascript" src="/javascripts/odometer.js"></script>
  <style type="text/css">
  body {
      padding: 0px;
      font-family: Georgia, Arial, Sans-Serif;
  }
  h1 {
    margin: 0px;
  }
  </style>
</head>
<body>
  <%-body%>
</body>
</html>